@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.main{
   
    background: rgb(170,0,0);
    background: radial-gradient(circle, rgba(170,0,0,1) 0%, rgba(70,0,0,1) 35%, rgba(0,0,0,1) 76%);
    height: auto;
}

.nav-list li{
    padding: 20px;
    
}

.nav-list a{
    color: white;
    text-decoration: none;

}

.nav-list li:hover{
    cursor: pointer;
    background-color:rgba(170, 0, 0, 0.625) ;
}
/* 
@media only screen and (max-width: 440px) {
    .nav-list li{
        padding: 3%;
    }
    .nav-list a{
        font-size: 12px;
    }
} */

.home-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.home-button{
    backdrop-filter: blue(5px);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  border-radius: 900px;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  padding: 12px 20px;
  min-width: 28px;
  text-align: center;
  text-decoration: none;
}

.home-link{
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.middlefeed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2%;
}
.middle-cube{
    height: 90%;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1000px) {
    .middle-cube{
        display: none;
    }
}

@media screen and (max-width: 1509px) {
    .middle-cube{
        height: 60%;
        aspect-ratio: 1/1;
    }
    .middlefeed{
        display: flex;
        align-items: center;
        padding: 0 5%;
    }
}
.aboutme{
    height: auto;
    width: 500px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blue(5px);
    
}

.profilepic{
    background-image: url("./utils/Screenshot\ 2023-09-08\ 191525.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

.textbox{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    color: white;

}

.textbox h1{ text-align: center; font-weight: 700; font-size: 2.5rem;}
.textbox ul { list-style-type: none; }
.textbox li { margin: 7px 0; }

@media only screen and (max-width:642px){
    .textbox{
        font-size: 0.8rem;
    }
    .textbox h1{
        font-size: 2rem;
    }
}
.home-image{
    background-image: url("../public/moon.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;

    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    animation: animate 2s infinite ease alternate;

  
  
}

@keyframes animate {
    to {
        transform: translateY(20px);
    }
}

.home-container{  
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
}

@media only screen and (max-width: 1341px) {
    .home-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .home-image{
        width: auto;
    }
    .home-canvas{
        height: 100% !important;
    }
}


.home-canvas{height: 100%;}
.works_title{
    flex: 1;
    display: flex;
    align-items: center;
}

.project-card{
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blue(5px);
}

#contact a{
    backdrop-filter: blue(5px);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
